[alias]
        ad = add *
        df = diff
        rc = log -p -n 1
        rp = pull --recurse-submodules
        co = checkout
        cob = checkout -b
        del = branch -D
        br = branch --format='%(HEAD) %(color:yellow)%(refname:short)%(color:reset) - %(contents:subject) %(color:green)(%(committerdate:relative)) [%(authorname)]' --sort=-committerdate
        br = branch
        ci = "!f() { git add . && git commit -m \"$@\"; }; f"
        st = status
        sh = stash -u
        rs = reset HEAD~
        lg = !git log --pretty=format:\"%C(magenta)%h%Creset -%C(red)%d%Creset %s %C(dim green)(%cr) [%an]\" --abbrev-commit -30
        last = log -1 HEAD
        pf = push --force-with-lease
        pu = push -u
        rclone = clone --recurse-submodules
        cip = "!f() { git add -A && git commit -m \"$@\" && git push; }; f"
        lazypush = "!f() { git add -A && git commit --amend --no-edit && git push --force-with-lease; }; f"
        lazyupdate = "!f() { git checkout main && git pull --recurse-submodules && git checkout - && git rebase main && git push --force-with-lease; }; f"
        lazyrebase = "!f() { git checkout main && git pull --recurse-submodules && git checkout - && git rebase main }; f"

[core]
        symlinks = true
	autocrlf = false

[push]
        autoSetupRemote = true
        default = current
[user]
	email = jraubenheimer@etsy.com
	name = James Raubenheimer
